@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Varela+Round&display=swap");
* {
  font-family: "Varela Round", sans-serif;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
#contenedor{
    width: 100%;
}
.card{
    background-color: #3d3935;
    border: none;
    width: 13%
}
.ant{
    display: flex;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 2%;
}
/* .ant :hover{
    
} */
.title2{
    display: flex;
    align-items: flex-start;
    position: absolute;
    top: 3%;
}
.espacio{
    display: flex;
    gap: 5%;
}
body {
  background-color: #3d3935;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
p {
  font-weight: 300;
  color: #ffffff;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.title {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  display: flex;
  text-align: center;
  justify-content: center;
  color: #ffffff;
  align-items: center;
}
h2{
    color: #ffffff;
}
h5{
    display: flex;
    align-items: center; 
}
span {
  color: #ffffff;
}
.title1 {
  font-size: 1.2em;
  line-height: 1.1;
  color: #14e2cd;
  display: flex;
  align-items: center;
}

#app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  align-items: center;
  text-align: center;
}
span {
  font-weight: 700;
  top: 0;
  margin-left: 10px;
}
button {
  background-color: #535bf2;
  color: #fff;
  background-image: linear-gradient(to left, #7a56f4, #14e2cd);
  display: inline-block;
  max-width: 100%;
  margin: 0.5em 0;
  padding: 2% 4%;
  border: 0;
  border-radius: 5px;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}
.contentprecio {
  font-weight: bolder;
  color: white;
  right: 1px;
  top: 3%;
  align-self: flex-start;
  position: absolute;
  width: 10%;
}
.button:after {
  position: absolute;
  content: "";
  top: 0;
  left: -1em;
  bottom: 0;
  width: 1em;
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 10%,
    rgba(255, 255, 255, 0.2) 90%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0;
  transform: skew(-15deg);
}
.titulo{
  color:white;
}
#login{
  border-radius: 20px;
  background:  linear-gradient( #7a56f4, #14e2cd);
  padding: 2%;
  text-align: center;
  width: 40%;
}
.login-btn{
  border: solid white 1px;
  background:  linear-gradient(to right, #7a56f4, #14e2cd);
}
.login-btn:hover{
  border: solid black 1px;
  background:  linear-gradient(to left, #7a56f4, #14e2cd);
}
.contenedor-login{
  width: 100%;
  display: flex;
  justify-content: center;
  
}
#contenedor-endPage{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0;
}
#endPage{
  width: 60%;
  img{
      width: 28px;
      margin: 0;
  }
  .red-in{
      background-color:#0274B3 ;
  }
  .red-face{
      background-color: #3566A5;
  }
  .red-goo{
      background-color: #DC4234;
  }
  .red-twi{
      background-color: #00A2F3;
  }
  .in{
      width: 48px;
      
  }
  .sub-title{
      color: white;
      margin-bottom: 1.5%;
  }
  .endPage-title{
      margin-bottom: 2.5%;
  }
  p{
      color: white;
  }
  
  .red{
      width: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 5px;
      padding: 3px 5px 3px 3px;
      border-radius: 3px;
      p{
          margin: 0;
          color: white;
      }
  }
}

#volver{
  margin-top: 2%;
  display: flex;
  align-self: flex-start;
  margin-bottom: 8%;
}
.costo{
  margin: 0;
}
.precio{
  
  h1{
      color: #14E2CD;
      margin: 0;
      padding: 0;
      font-size: 80px;
  }
}
.btn-c{
  color: white;
  background:  linear-gradient(to left, #7a56f4, #14e2cd);
  font-size: 25px;
  padding: 20px 60px;
}
@media (max-width: 946px) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@media (max-width: 934px) {
  .button {
    font-size: 24px;
  }
  h1 {
    font-size: 50px;
  }
  .card{
    width: 60%;
  }
  .espacio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5%;
  }
  .contenedor-opciones{
    margin-top: 80px;
    display: flex;
    align-items: center;
  }
  .ant{
    top: 8px;
  }

  #login{
    width: 90%;
  }
  .contentprecio {
    font-weight: bolder;
    color: white;
    right: 1%;
    top: 3%;
    align-self: flex-start;
    position: absolute;
    width: auto;
  }
  .card-text{
    font-size: 25px;
  }
  #contenedor-endPage{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0;
  }  
  #endPage{
    width: 60%;
    img{
        width: 28px;
        margin: 0;
    }
    .in{
        width: 48px;
        
    }
    .sub-title{
        color: white;
        margin-bottom: 1.5%;
    }
    .endPage-title{
        margin-bottom: 2.5%;
    }    
    .centro-redes{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btn-c{
      color: white;
      background:  linear-gradient(to left, #7a56f4, #14e2cd);
      font-size: 20px;
      padding: 5px;
    }
    .precio{
  
      h1{
          color: #14E2CD;
          margin: 0;
          padding: 0;
          font-size: 40px;
      }
    }
  }
  .title {
    width: 100%;
    font-size: 5vw;
  }
  
}
